<!-- -->
<!-- wrapper -->
<div class="container text-center">

	<!-- row 1 - image -->
	<div class="row">
		<!-- column -->
		<div class="col-md-12 text-center">
			<!-- image -->
		  	<img src="/assets/img/burger.jpg" width="200" height="200"/>
		<!-- end column -->
		</div>
	<!-- end row 1 -->
  	</div>

	<!-- row 2 - heading -->
	<div class="row">
		<!-- column -->
		<div class="col-md-12 text-center">
			<!-- heading -->
		  	<h1>Eat-Da-Burger!</h1>
		<!-- end column -->
		</div>
	<!-- end row 2 -->
  	</div>

	<!-- row 3 - burgers -->
	<div class="row">
		<!-- column 1 -->
		<div class="col-md-6 text-center">
			<ul>
				{{#each }}
				
			</ul>
				
		<!-- end column 1 -->
		</div>			
		
		<!-- column 2 -->
		<div class="col-md-6 text-center">
			<ul>
				
			</ul>
		<!-- end column 2 -->
		</div>	
		
	<!-- end row 3 -->
  	</div>

	<!-- row 4 - user textbox -->
	<div class="row">
		<!-- column -->
		<div class="col-md-12 text-center">
			<!-- textbox -->
		  	<input type="text" name="inputburger" class="resize" placeholder="Enter a burger you want to eat. Click the 'Submit' button.">
		<!-- end column -->
		</div>
	<!-- end row 4 -->
  	</div>

	<!-- row 5 - submit button -->
	<div class="row">
		<!-- column -->
		<div class="col-md-12 text-center">
			<!-- submit button -->
			<input type="submit" name="submit">
		<!-- end column -->
		</div>
	<!-- end row 5 -->
  	</div>


<!-- end wrapper -->
</div>